version: '3.9'

services:
  node-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chatbot-mbgcard
    ports:
      - "4500:4500"
    environment:
      NODE_ENV: production
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules
